<div style="text-align: right;">
<a href="https://gitlab.com/atomicrex/atomicrex" target="_blank">gitlab/atomicrex</a>
| <a href="https://materialsmodeling.org/software" target="_blank">materialsmodeling.org/software</a>
| <a href={{ pathto('genindex') }}>index</a>
| <a href={{ pathto('py-modindex') }}>modules</a>
</div>
